---
const { title } = Astro.props;
import { Image } from "astro:assets";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Experienced freelance web developer in Herts, UK. Get a modern, responsive website that drives results for your business. Free consultations!">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <title>{title} | Custom Websites for UK Businesses</title>
  </head>
  <body class="text-slate-800 dark:bg-indigo-950 dark:text-slate-50">
    <div class="flex flex-col h-dvh justify-between" id="content-wrapper">
      <header class=" py-3 px-3 flex flex-row justify-center items-center gap-2 mb-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-8 h-8 xl:w-10 xl:h-10">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z">
          </path>
        </svg>

        <div>
          <h1 class="text-2xl xl:text-5xl text-center font-brand-serif">
            The <strong class="font-extrabold">Website</strong> Guy
          </h1>
        </div>
        <div>

        </div>
      </header>
      <main>
        <slot />
      </main>
      <footer class="flex flex-row justify-center items-baseline p-2">
        <div>
          <a
            href="https://partnernetwork.ionos.co.uk/partner/mcgonigle.studio?origin=PartnerBadge"
            rel="nofollow">
            <Image
              src="https://images-2.partnerportal.ionos.co.uk/items/8ab817f3-298d-46a9-9265-e64f2c0a8890/profiles/323c28cb-11c2-45a4-adab-3a8b4ae97abc/badges/normal_white"
              alt="IONOS - Official Partner"
              aria-label="IONOS official agency partner."
              width="150"
              height="88"
              loading={"eager"}
            />
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
